body {
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 40px;
}

header nav a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

main {
  padding: 80px 40px;
  box-sizing: border-box;
  text-align: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.slider img {
  width: 200px;
  height: 150px;
  margin-left: 20px;
  scroll-snap-align: center;
}

.grid-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  height: 400px;
  padding-bottom: 10px;
}

.grid-item {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
}


img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .grid-item {
    width: 50%;
  }
}

.previous, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  cursor: pointer;
}

.previous {
  right: 40px;
}

.next {
  left: 40px;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav a#menu-toggle {
    display: block;
    float: right;
    font-size: 36px;
    padding: 20px;
  }
}
